@use '../../styles/variables' as *;

.tools {
    position: relative;
    
    .inner {
        padding: $space-12 0;
        
        .grid {
            margin-top: $space-3;
            display: grid;
            gap: $space-2;
            grid-template-columns: 1fr;

            @media (min-width: 640px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (min-width: 1024px) {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}
